#logo {
    margin-right: 16px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: gainsboro;
}

#sidebar {
    width: 175px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #496FE3;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}


.card-faq{
    margin: 1rem auto;
    max-width: 90%;
    border-radius: 10px;
    padding: 0.5rem;
}

.card-max{
    margin-top: 0.5rem;
    max-width: 100%;
}

.drop-menu-location{
    justify-content: left;
}

.btn-spacement{
    margin-left: 1rem;
    margin-right: 1rem;
}

.faq-question{
    color: rgb(77, 111, 227);
}

.src-control {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.product {
    border-radius: 5px;
    background-color: white;
    display: flex;
    width: 100%;
    max-height: 200px;
}

.product img {
    width: 156px;
    display: block;
    border-radius: 5px 0 0 5px;
}

.product .body{
    padding: 10px;
    position: relative;
}

.product .title{
    font-size: 16px;
}

.product .content{
    font-size: 12px;
    color: #423B3B;
}

.product .link{
    font-size: 10px;
    color: #423B3B;
    position: absolute;
    top: calc(100% - 25px);
    left: calc(100% - 70px);
}